{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar-expand-lg m-3 navborder ">
        <div class="container-fluid">
            <div class="d-flex">
                <p class="h3 golden me-3">Nowak Louis</p>
                <div>
                    <a class="navbar-brand" href="https://github.com/nowaklouis"><i class="bi bi-github" style="font-size: 25px; color: rgb(254, 180, 0);"></i></a>
                </div>
                <div>
                    <a class="navbar-brand" href="https://www.linkedin.com/in/louis-nowak/"><i class="bi bi-linkedin" style="font-size: 25px; color: rgb(254, 180, 0);"></i></a>
                </div>
            </div>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link bold text-white" href="#"><strong>Présentation</strong></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-white" href="#"><strong>Compétences</strong></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-white" href="#"><strong>Projet</strong></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-white" href="#"><strong>Contact</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex justify-content-center my-5">
        <h1 class="golden text-shadow">Développeur Junior</h1>
    </div>

    <div class="container d-flex justify-content-center my-5">
        <p class="text-white">Déterminé et pérseverant, j'ai pour but d'allez encore plus loin dans mon apprentissage pour devenir un veritable dev accompli.<br> Veille, scrum et code son devenu une habitude et graçe à ma motivation, je peux desormais pour 
        proposer mes services en tant que développeur back-end tout en ayant de certaine competences en frontend.</p>
    </div>

    <div class="d-flex justify-content-start">
        <div class="card mb-3 p-1 cardpresent shadow p-3 mb-5 rounded" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title text-white propros">À propos de moi ?</h2>
                        <p class="pt-3 card-text text-white">Ancien paysagiste, ma vie a pris un tournant il y a deux ans lorsque j'ai entrepris une reconversion audacieuse à la Wild Code School. Cette école m'a enseigné les tenants 
                        et aboutissants du développement web, des langages de programmation aux frameworks modernes. Plus qu'une simple formation technique, elle m'a inculqué des valeurs cruciales telles que la collaboration, 
                        l'adaptabilité et la résolution de problèmes. </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <img src="{{ asset('images/me.jpg') }}" class="img-fluid rounded" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="card mb-3 p-1 cardpresent shadow p-3 mb-5 rounded" style="max-width: 540px;">
            <div class="row g-0">
                <div >
                    <div class="card-body">
                        <h2 class="card-title text-white propros">Plus loin, plus haut !</h2>
                        <p class="pt-3 card-text text-white">Fraîchement diplômé en développement web et web mobile, équivalent bac+2, ma soif de connaissances persiste. Animé par l'envie de perfectionnement,
                         je projette de poursuivre mon parcours académique en intégrant une école d'ingénieur pour atteindre le niveau Bac+5. Ma formation intensive a jeté les bases techniques solides, mais je souhaite désormais approfondir 
                         mes compétences et acquérir une expertise approfondie. Orienté vers une alternance, je vise une immersion professionnelle enrichissante, combinant expérience pratique et enseignement avancé pour atteindre de nouveaux 
                         sommets dans le domaine du développement informatique.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card mb-3 p-1 shadow p-3 mb-5 rounded" style="max-width: 540px; background-image: linear-gradient(rgba(10, 63, 15, 0.5), rgba(10, 63, 15, 0.5)), url('{{ asset('images/meonprez.jpg') }}');">
            <div class="row g-0">
                <div>
                    <div class="card-body">
                        <h2 class="card-title text-white propros">Monde professionnel</h2>
                        <p class="pt-3 card-text text-white">Au cours d'un stage enrichissant de 6 mois au sein d'une entreprise de courtage en assurance, j'ai consolidé mes compétences en développement avec un accent particulier sur le langage Symfony.
                         Ma polyvalence s'est exprimée dans la création de l'interface utilisateur avec JavaScript et Twig, tout en assurant la robustesse du back-end grâce à Symfony et Doctrine. Au-delà des aspects techniques, j'ai mis en pratique la 
                         collaboration intensive au sein de l'équipe. Ce stage a été l'occasion idéale de concrétiser mes connaissances acquises, de perfectionner mes compétences et de démontrer l'importance cruciale de la collaboration dans le monde
                          professionnel.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
