body {
  background-color: rgb(0, 71, 0);
}

.golden {
  color: rgb(254, 180, 0);
}

.navborder {
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(254, 180, 0);
  box-shadow: 5px 5px 5px;
}

.cardpresent {
  background-color: rgb(0, 87, 0);
}
